<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Relatório</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div th:replace="~{fragments/header :: header}">
    Dental Analytics Safe Header
</div>

<div class="container mx-auto px-4">
    <h1 class="text-2xl font-bold" th:text="#{detalhes.relatorio.titulo}"></h1>
    <p th:text="'ID: ' + ${relatorio.id}">ID:</p>
    <p th:text="#{template.relatorio.titulo} +': '+ ${relatorio.titulo}">:</p>
    <p th:text="#{template.relatorio.descricao} +': '+ ${relatorio.descricao}">:</p>
    <p th:text="#{template.relatorio.dentista} +': '+ ${relatorio.dentista}">:</p>
    <p th:text="#{template.relatorio.status} +': '+ ${relatorio.status}">:</p>
    <p th:text="#{template.relatorio.dataEnvio} +': '+ ${relatorio.dataEnvioRelatorio}">:</p>
    <h2 class="text-xl font-bold mt-4" th:text="#{detalhes.endereco.titulo}"></h2>
    <p th:text="#{template.relatorio.clinica} +': '+ ${relatorio.clinica}">:</p>
    <p th:text="#{template.relatorio.paciente} +': '+ ${relatorio.paciente}">:</p>
    <h2 class="text-xl font-bold mt-4" th:text="#{detalhes.relatorio.consultaRelacionada}"></h2>
    <p th:text="'ID: ' + ${relatorio.consulta.id}">ID:</p>
    <p th:text="#{template.consulta.procedimento} +': '+ ${relatorio.consulta.procedimento}">:</p>
    <p th:text="#{template.consulta.dataConsulta} +': '+ ${relatorio.consulta.dataConsulta}">:</p>
    <p th:text="#{template.consulta.dataEnvioConsulta} +': '+ ${relatorio.consulta.dataEnvioConsulta}">:</p>
    <p th:text="#{template.detail.valor} +' '+ ${relatorio.consulta.valorConsulta}">:</p>
</div>

<div th:replace="~{fragments/footer :: footer}">
    &copy; 2025 Dental Analytics Safe
</div>
</body>
</html>
