<footer class="mt-10">
    <div class="flex justify-center space-x-4">
        <a href="?lang=pt" class="bg-white text-blue-600 px-4 py-2 rounded-md shadow hover:bg-gray-200">
            Português</a>
        <a href="?lang=en" class="bg-white text-blue-600 px-4 py-2 rounded-md shadow hover:bg-gray-200">
            English</a>
    </div>

    <div class="bg-blue-600 text-white p-6 mt-4">
        <div class="container mx-auto text-center">
            <p class="text-xl" th:text="'&copy; 2025 Dental Analytics Safe. ' + #{footer.direitos}"></p>
        </div>
    </div>
</footer>