<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Paciente</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">
<div th:replace="~{fragments/header :: header}">
    Dental Analytics Safe Header
</div>

<h1 class="text-2xl font-bold" th:text="#{detalhes.paciente.titulo}"></h1>
<div class="container mx-auto px-4 flex-grow">
    <p th:text="'ID: ' + ${paciente.id}">ID:</p>
    <p th:text="#{template.paciente.nome} +': '+ ${paciente.nome}"></p>
    <p th:text="#{template.paciente.cpf} +': '+ ${paciente.cpf}"></p>
    <p th:text="#{template.paciente.telefone} +': '+ ${paciente.telefone}"></p>
    <p th:text="#{template.clinica.email} +': '+ ${paciente.email}"></p>
    <p th:text="#{template.paciente.dataNascimento} + ': ' + ${@localeConfig.formatDate(paciente.dataNascimento, #locale)}">:</p>
    <p th:text="#{template.paciente.nmrCarteiraOdonto} +': '+ ${paciente.nmrCarteiraOdonto}">:</p>
    <p th:text="#{detalhes.paciente.qtdConsultas} +': '+ ${paciente.qtdConsultas}">:</p>
    <h2 class="text-xl font-bold mt-4" th:text="#{detalhes.endereco.titulo}"></h2>
    <p th:text="#{template.endereco.logradouro} +': '+ ${paciente.endereco.logradouro}">:</p>
    <p th:text="#{template.endereco.bairro} +': '+ ${paciente.endereco.bairro}">:</p>
    <p th:text="#{template.endereco.cep} +': '+ ${paciente.endereco.cep}">:</p>
    <p th:text="#{template.endereco.cidade} +': '+ ${paciente.endereco.cidade}">:</p>
    <p th:text="#{template.endereco.uf} +': '+ ${paciente.endereco.uf}">:</p>
    <p th:text="#{template.endereco.complemento} +': '+ (${paciente.endereco.complemento} != null ? ${paciente.endereco.complemento} : #{detalhes.sem.complemento})">:</p>
    <p th:text="#{template.endereco.numero} +': '+ ${paciente.endereco.numero}">:</p>
</div>

<div th:replace="~{fragments/footer :: footer}">
    &copy; 2025 Dental Analytics Safe
</div>
</body>
</html>
