<header class="bg-blue-600 text-white p-4">
    <div class="container mx-auto flex justify-between">
        <div class="text-2xl font-bold text-white-800">
            Dental Analytics Safe
        </div>
        <nav class="hidden md:flex space-x-6">
            <a href="/clinica" class="text-white-600 hover:text-gray-800" th:text="#{header.clinica.titulo}"></a>
            <a href="/paciente" class="text-white-600 hover:text-gray-800" th:text="#{header.paciente.titulo}"></a>
            <a href="/consulta" class="text-white-600 hover:text-gray-800" th:text="#{header.consulta.titulo}"></a>
            <a href="/relatorio" class="text-white-600 hover:text-gray-800" th:text="#{header.relatorio.titulo}"></a>
        </nav>
    </div>
</header>
