<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Paciente</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div th:replace="~{fragments/header :: header}">
    Dental Analytics Safe Header
</div>

<h1 class="text-2xl font-bold">Detalhes do Paciente</h1>
<div class="container mx-auto px-4">
    <p th:text="'ID: ' + ${paciente.id}"></p>
    <p th:text="'Nome: ' + ${paciente.nome}"></p>
    <p th:text="'CPF: ' + ${paciente.cpf}"></p>
    <p th:text="'Telefone: ' + ${paciente.telefone}"></p>
    <p th:text="'Data de Nascimento: ' + ${paciente.dataNascimento}"></p>
    <p th:text="'Número da Carteirinha Odonto: ' + ${paciente.nmrCarteiraOdonto}"></p>
    <p th:text="'Quantidade de Consultas: ' + ${paciente.qtdConsultas}"></p>
    <h2 class="text-xl font-bold mt-4">Endereço</h2>
    <p th:text="'Logradouro: ' + ${paciente.endereco.logradouro}"></p>
    <p th:text="'Bairro: ' + ${paciente.endereco.bairro}"></p>
    <p th:text="'CEP: ' + ${paciente.endereco.cep}"></p>
    <p th:text="'Cidade: ' + ${paciente.endereco.cidade}"></p>
    <p th:text="'UF: ' + ${paciente.endereco.uf}"></p>
    <p th:text="'Complemento: ' + (${paciente.endereco.complemento} != null ? ${paciente.endereco.complemento} : 'Sem Complemento')"></p>
    <p th:text="'Número: ' + ${paciente.endereco.numero}"></p>
</div>

<div th:replace="~{fragments/footer :: footer}">
    &copy; 2025 Dental Analytics Safe
</div>
</body>
</html>
